[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = none

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = none

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none
